body {
    background-color: #7de;
}
.banner {
    width: 1680px;
    height: 800px;
    background-image: url("Portfolio Website Banner 2018.png")
}

h1 {
    text-align: center; 
    margin-top: 3%; 
}

h2 {
    text-align: center; 
}
.nav {
    position: absolute;
    top: 95%;
    left: 38.5%; 

}
button {
    background: transparent;
    font-size: 25px; 
    border: none; 
    text-decoration: underline; 
}

.current-projects {
    width: 450px;
    background-color: grey;
    position: absolute;
    left: 3%;
    right: 70%; 
  
}
.container {
    background-color: white; 
    width: 75px;
    height: 75px;
    margin-left: 5%;
    margin-top: 2%; 
    margin-bottom: 2%;
    display: inline-block; 
}

.project-text {
    display: inline-block;
    margin-left: 10%; 
    width: 100px; 
    text-align: center;
   
    
}

.bio {
    position: absolute;
    width: 450x; 
    right: 3%;
    left: 70%; 
    background-color: grey; 
    height: 645px; 
    

}

