body {
    width: 1680px;
    height: 800px;
    background-image: url("4016x5000px Headshot.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h1 {
    text-align: left; 
    margin-top: 3%; 
    color:#F4F3F2;
    margin-left: 3%;
    
}

h2 {
    text-align: left; 
    color:#F4F3F2;
    margin-left: 3%;
}
.nav {
    position: absolute;
    top: 95%;
    left: 36.7%; 

}
button {
    background: transparent;
    font-size: 25px; 
    border: none; 
    text-decoration: underline; 
    text-transform: uppercase; 
}

.current-projects {
    width: 450px;
    background-color: grey;
    position: absolute;
    left: 3%;
    right: 70%; 
  
}
.container {
    background-color: white; 
    width: 75px;
    height: 75px;
    margin-left: 5%;
    margin-top: 2%; 
    margin-bottom: 2%;
    display: inline-block; 
}

.project-text {
    display: inline-block;
    margin-left: 10%; 
    width: 100px; 
    height: 100px; 
    
   
    
}

.bio {
    position: absolute;
    width: 450x; 
    right: 3%;
    left: 70%; 
    background-color: grey; 
    height: 645px; 
    

}

