body {
    background-color: black; 
}

.banner {
    width: 1680px;
    height: 800px;
    background-color: grey; 
}

.current-projects {
    width: 1680px;
    background-color: grey
}

.footer {
    width: 1680px;
    background-color: grey
}