body {
    background-color: grey; 
}
.banner {
    width: 1680px;
    height: 860px;
    /*background-image: url("Placeholder.png");*/
    background-color:grey;  
}
.banner-content {
    position: absolute;
    top: 6.5%;
    left: 3%; 
    width: 600px; 
    height: 843px; 
    text-align: center; 
    border-radius: 10%; 
}
header {
    text-align: center; 
    color:black;
    font-size: 35px; 
    font-family: 'Oswald', sans-serif;
    position: absolute;
    margin-bottom: 2%; 
}
.page-header {
    text-align: center; 
    color:black;
    font-size: 35px; 
    font-family: 'Oswald', sans-serif;
    position: absolute;
    margin-bottom: 2%; 
    margin-left: 3%;
    height: 843px; 
    background-color: white;
    opacity: 0.9; 
    border-radius: 10%; 
    padding-left: 1%;
    padding-right: 1%; 
    width: 50%; 
}
h2 {
    text-align: center; 
    margin-top: 10%; 
    color:black;
    font-size: 30px; 
    font-family: 'Oswald', sans-serif;  
    margin-left: 5%;   
}
.nav {
    position: absolute;
    top: 1%;
    right: 9%; 
}


grid {
    margin: 22px auto 22px auto;
    display:grid;
    margin-top: 3%;
    margin-left: 27%; 
    width: 60%;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-template-rows: repeat(3, 250px);
    grid-gap: 30px;
    background-color: white;
    opacity: 0.9; 
    border-radius: 10%; 
    padding-left: 5%; 
    padding-top: 1%;
    padding-bottom: 1%; 
    

 
 }

.img-1, .img-2, .img-3, .img-4, .img-5, .img-6, .img-7, .img-8, .img-9 {
    height: 250px;
    width: 250px;

    text-align: center; 
}
.img-1 {
    background-image: url("bitcoin_icon.jpg");

}

.img-2 {
    background-image: url("question_mark.png");
    background-color: white; 
}

.img-3 {
    background-image: url("train_icon.jpg");
}

.img-4 {
    background-image: url("MEAN_icon.png");
    background-color: white; 
}

.img-5 {
    background-image: url("API_icon.jpg");
    background-color: white; 
}

.img-6 {
    background-image: url("nyt_icon.jpg");
    background-color: white; 
  
}

.img-7 {
    background-image: url("node_icon.png");
    background-color: white; 
  
}

.img-8 {
    background-image: url("ecommerce_icon.png");
    background-color: white; 
  
}

.img-9 {
    background-image: url("jquery_icon.png");
    background-color: white; 
  
}
.button {
    background: transparent;
    font-size: 25px; 
    border: none; 
    text-transform: uppercase; 
    font-family: 'Oswald', sans-serif;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    color: white; 
}

.button:hover {
    background-color: #1BB4EA; 
    color: white;
}

