.banner {
    width: 1680px;
    height: 900px;
    opacity: 0.8;
    /*background-image: url("Placeholder.png");*/
    background-color:grey;  
}
.banner-content {
    position: absolute;
    top: 10%;
    right: 32%; 
    width: 600px; 
    height: 300px; 
    text-align: center; 
}
header {
    text-align: center; 
    color:black;
    font-size: 35px; 
    font-family: 'Oswald', sans-serif;
    position: absolute;
    margin-bottom: 2%; 
}
.page-header {
    text-align: center; 
    color:black;
    font-size: 35px; 
    font-family: 'Oswald', sans-serif;
    position: absolute;
    margin-bottom: 2%; 
    margin-left: 29%;
}
h2 {
    text-align: center; 
    margin-top: 10%; 
    color:black;
    font-size: 30px; 
    font-family: 'Oswald', sans-serif;  
    margin-left: 5%;   
}
.nav {
    position: absolute;
    top: 2%;
    right: 2%; 
}
button {
    background: transparent;
    font-size: 25px; 
    border: none; 
    text-transform: uppercase; 
    font-family: 'Oswald', sans-serif;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #1BB4EA; 
    color: white;
}